@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
  --font-colorLight: #f2f2f2;
  --font-colorDark: #212121; 
  --font-family: 'Roboto', sans-serif;
  --bg-primarly:  #1C77C3;
  --bg-secondary:  #e2e2e2;
  --bg-nav: #2a2a2a;
  --brand-color: #99b67d;
  --progresBar: #ffffff;
  --innerProgresBar: #50b850;
  --btnRaiting: rgb(185, 185, 185);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  color: var(--font-colorLight);
  font-family: var(--font-family);
  overflow: hidden;
}

 /* HEADER  */
.nav{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  background-color: var(--bg-nav);
}

.nav__h1{
  color: var(--brand-color);
}

.nav__progress{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.progress__bar{
  width: 120px;
  height: 10px;
  background-color: var(--progresBar);
  border-radius: 5px;
  overflow: hidden;
}
.progress__innerBar{
  width: 100%;
  height: 100%;
  background-color: var(--innerProgresBar);
  transform: translateX(-100%);
}

.header{
  display: none;
  width: 100%;
  min-height: 90vh;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-primarly);
  transition: 400ms;
}

.header__content{
  width: 60%;
  display: flex;
  gap: 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__button{
  width: 20%;
  padding: 1rem;
  border-radius: 5px;
  outline: none;
  border: none;
  opacity: .8;
}

.header__button:hover{
  cursor: pointer;
  opacity: 1;
}

/* MAIN  */
.main{
  display: none;
  background-color: var(--bg-secondary);
  color: var(--font-colorDark);
  width: 100%;
  min-height: 90vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__questions{
  width: 100%;
  padding: .5rem;
}

.main__questionNumber{
  text-align: center;
  padding: .5rem;
  font-size: 2rem;
}

.main__questionDescription{
  text-align: center;
  padding: .5rem;
  font-size: 1.5rem;
}


.main__rating{
  width: 50%;
  padding: .5rem;
}

.main__agreeDisagree{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__optionsRating{
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: .2rem;
  margin-top: 1rem;
}

.main__optionRating{
  width: 20%;
}

.main__buttonRating{
  width: 100%;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: none;
  opacity: .8;
  background-color: var(--btnRaiting);
}

.main__buttonRating--1:hover{
  background-color: rgb(176, 22, 22);
  cursor: pointer;
}

.main__buttonRating--2:hover{
  background-color: rgb(201, 201, 57);
  cursor: pointer;
}

.main__buttonRating--3:hover{
  background-color: rgb(150, 221, 52);
  cursor: pointer;
}

.main__buttonRating--4:hover{
  background-color: rgb(78, 162, 57);
  cursor: pointer;
}

.main__buttonRating--5:hover{
  background-color: rgb(49, 198, 22);
  cursor: pointer;
}

.main__numberRating{
  text-align: center;
  padding: .5rem;
}

.footer{
  display: none;
  width: 100%;
  min-height: 90vh;
  background-color: var(--bg-secondary);
  color: var(--font-colorDark);
  justify-content: center;
  align-items: center;
}

.footer__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.footer__thanks{
  font-size: 2rem;
}

.main__question{
  display: none;
}

.visible-block{
  display: block; 
}

.visible-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

